header{
    position: relative;
}
.header-text{
    position: absolute;
    top: 155px;
    color: white;
    font-size: 38px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    padding-left: 0.6cm;
    text-shadow: -1px -1px 0.3em red;
}
img{
    width: 100%;
    display: block;
}
nav{
    background-color: rgb(255, 72, 0);
    width: 100%;
    height: 30px;
    padding: 1px;
    padding-top: 9px;
}
nav div{
    text-align: center;
    color: white;
}
nav div a{
    color: white;
    font-variant: small-caps;
    text-decoration: none;
    font-size: 15px;
    padding: 0;
    margin: 0 10px;
    font-size: 18px;
}

article{
    background-color: white;
    width: 70%;
    float: left;
    clear: both;
    height: 300px;
}

body{
    padding: 0px;
    margin: 0px;
}
nav a:hover{
    color: yellow;
    text-decoration: underline;
}

.poly{
    font-size: 52px;
    color: white;
}

aside{
    float: right;
    width: 30%;
    height: 400px;
    line-height: 2;
    margin-top: -14px;
    font-size: 18px;
    font-variant: small-caps;
    color: orange;
}
aside li{
    color: orange;
    text-decoration: none;
}

aside ul {
    list-style-type: none;
    display: inline-block;
    width: 100%;
}

aside ul li{
    border: 1px solid black;
    border-bottom: 0px;
    display: flex;
    align-items: center;
}
.end {
    border-bottom: 1px solid black;
}
aside ul li span{
    display: inline-block;
}
aside ul li img {
    width: 25px;
}

@media (max-width: 747px) {
    .header-text{
        top: 100px;
    }
    .text {
        top: 165px;
    }
}

footer{
    line-height: 50px;
    height: 50px;
    background-color: lightcyan;
    text-align: center;
    font-variant: small-caps;
    clear: both;
    border-top: 5px double orangered;
}

#contact {
    position: relative;
}
.dropdown {
    position: relative;
}
.dropdown-content {
    margin-top: 60px;
    position: absolute;
    display: none;
    background-color: #ff4801;
    padding: 0;
}
.dropdown:hover .dropdown-content {
    display: block;
}
.dropdown-content :hover {
    background-color: white;
    color: orangered;
}
.sub-menu {
    width: 100%;
    /* margin: 0px; */
    /* top: 20px; */
    background-color: #ff4801;
}
nav div div {
    display: inline-block;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
nav div {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
nav {
    padding: 0;

}